# A Star

In [29]:
import numpy as np
import pandas as pd

In [30]:
df1 = pd.read_csv("../Dataset/ShipCase1.csv")
df2 = pd.read_csv("../Dataset/ShipCase2.csv")
df3 = pd.read_csv("../Dataset/ShipCase3.csv")
df4 = pd.read_csv("../Dataset/ShipCase4.csv")
df5 = pd.read_csv("../Dataset/ShipCase5.csv")
df6 = pd.read_csv("../Dataset/ShipCase6.csv")

In [31]:
df6

    row  column  weight description
0     1       1       0         NAN
1     1       2      61         Pig
2     1       3      40         Owl
3     1       4     334         Ewe
4     1       5     333         Eel
..  ...     ...     ...         ...
91    8       8       0      UNUSED
92    8       9       0      UNUSED
93    8      10       0      UNUSED
94    8      11       0      UNUSED
95    8      12       0      UNUSED

[96 rows x 4 columns]

1. Define the representation and initial state

*Note that crane located at [0, 8] (by slides, just above [1, 8])*

In [32]:
# Store mainfest: NAN as -1, 0 as empty, >0 as occupied, number are weight of the container
def create_grid(path):
    grid = pd.DataFrame(0, index=range(0, 9), columns=range(1, 13))
    df = pd.read_csv(path)
    
    # flip the row
    max_row = df["row"].max()

    for _, rec in df.iterrows():
        r = max_row - int(rec["row"]) + 1
        c = int(rec["column"])
        desc = str(rec["description"]).strip()

        if desc == "NAN":
            grid.loc[r, c] = -1
        elif desc == "UNUSED":
            grid.loc[r, c] = 0
        else:
            grid.loc[r, c] = int(rec["weight"])

    return grid

grid6 = create_grid("../Dataset/ShipCase6.csv")
grid6

   1   2   3    4    5    6   7   8   9   10   11  12
0   0   0   0    0    0    0   0   0   0   0    0   0
1   0   0   0    0    0    0   0   0   0   0    0   0
2   0   0   0    0    0    0   0   0   0   0    0   0
3   0   0   0    0    0    0   0   0   0   0    0   0
4   0   0   0    0    0    0   0   0   0   0    0   0
5   0   0   0    0    0    0   0   0   0   0    0   0
6   0   0   0    0    0    0   0   0   0   0    0   0
7   0   0   0    0    0    0   0   0   0   0    0   0
8  -1  61  40  334  333  333   0   0   0   0  900  -1

2. Define goal state

In [ ]:
def left_weight(grid):
    return int(grid.iloc[1:9, 0:6].clip(lower=0).to_numpy().sum())

def right_weight(grid):
    return int(grid.iloc[1:9, 6:12].clip(lower=0).to_numpy().sum())

def goal_test(grid, tol=0.10):
    total = left_weight(grid) + right_weight(grid)
    return True if total == 0 else abs(left_weight(grid) - right_weight(grid)) <= tol * total

goal_test(grid6)

False

3. Define the operators

What to move

Actual Operation

In [ ]:
# what to move: determine which container to move
def determine_container_to_move(grid):

In [ ]:
# if (!goal_test(grid)):
#     raise ValueError("The initial grid does not meet the balance goal.")