# A Star

In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.read_csv('../Dataset/ShipCase1.csv')
df2 = pd.read_csv('../Dataset/ShipCase2.csv')
df3 = pd.read_csv('../Dataset/ShipCase3.csv')
df4 = pd.read_csv('../Dataset/ShipCase4.csv')
df5 = pd.read_csv('../Dataset/ShipCase5.csv')
df6 = pd.read_csv('../Dataset/ShipCase6.csv')

In [6]:
df1

    row  column  weight description
0     1       1       0         NAN
1     1       2       0      UNUSED
2     1       3       0      UNUSED
3     1       4       0      UNUSED
4     1       5       0      UNUSED
..  ...     ...     ...         ...
91    8       8       0      UNUSED
92    8       9       0      UNUSED
93    8      10       0      UNUSED
94    8      11       0      UNUSED
95    8      12       0      UNUSED

[96 rows x 4 columns]

1. Define the representation of a state